/* scrollbar */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(255, 255, 255, 0.3);
}




.body {
    position: fixed;
    padding: 0px;
    margin: 0px;

    top: 0px;
    left: 0px;

    width: 100%;
    /* height: 100%; */
    background: rgba(255, 255, 255, 0.5);

    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    overflow-x: scroll;
}

.main {
    width: 360px;
    /* height: 90%; */
    border: black 2px solid;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0px 7px 18px 2px rgba(0, 0, 0, 0.25);

    display: inline-flex;
    padding: 10px 0px 0px 0px;
    flex-direction: column;
    align-items: center;
    overflow-x: scroll;
}

.mv_main {
    width: 100%;
    height: 100%;
    background:white;

    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}


.section1_the_introtab {
    display: flex;
    width: 100%;
    padding: 10px 0px;
    justify-content: center;
    align-items: center;
}

.column1_options {
    display: flex;
    width: 30%;
    align-items: center;
    flex-shrink: 0;
}

.column2_logo {
    display: flex;
    width: 30%;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.column3_search_cart_container {
    display: flex;
    width: 30%;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;
    flex-shrink: 0;
}

.section2_filterstab {
    display: flex;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 0px 30px 0px 0px;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
}

.color_filter_container {
    display: flex;
    padding: 2px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-family: Tenor Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}

.section3_searchbox {
    width: 100%;
    display: inline-flex;
    padding: 10px 0px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.section3_searchbox input {
    outline: none;
    border: none;
}

.section3_searchbox input:focus {
    outline: none;
    border: none;
}

.search_content_container {
    display: flex;
    width: 80%;
    padding: 10px;
    align-items: center;
    gap: 10px;
    border-bottom: 1px solid #888;
}

.search_input_container {
    width: 70%;
}

.search_controlls_container {
    display: flex;
    padding: 0px 0px;
    align-items: center;
    gap: 14px;
}


.section4_shopitems {
    width: 100%;
    display: inline-flex;
    padding: 10px 0px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    overflow-y: auto;
    overflow-x: hidden;
}

.items_container {
    display: inline-flex;
    flex-wrap: wrap;
    width: 95%;
    padding: 10px;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
}

.item_container {
    width: 45%;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.item_image_container {
    display: flex;
    width: 100%;
    height: 221px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: #E8E4DB;
}

.item_short_description_container {
    width: 100%;
    display: inline-flex;
    padding-left: 0px;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
}

.description_content {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

.item_name {
    color: var(--gray-scale-title-active, #000);
    /* Body-S */
    font-family: Tenor Sans;
    padding: 0%;
    margin: 0%;
}

.item_description {
    color: var(--gray-scale-label, #555);
    /* Body-S */
    font-family: Tenor Sans;
    padding: 0%;
    margin: 0%;
    font-size: 13px;
}

.item_price {
    color: var(--primary-default, #DD8560);
    font-family: Tenor Sans;
    /* 160% */
}


.section5_footer {
    display: inline-flex;
    width: 100%;
    padding: 20px 0px;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin-bottom: 20px;
}

.social_media {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.contact_details {
    display: inline-flex;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1px;
    font-family: Tenor Sans;
}

.contact_details p {
    margin: 0%;
}




/* The Product details page */
.section6_item_images {
    width: 100%;
}

.images_content_container {
    display: inline-flex;
    padding: 10px 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.images_content_container img {
    width: 95%;
}


.section7_product_titlen_variants {
    width: 100%;
}

.title_price_container {
    display: flex;
    width: 95%;
    padding: 10px 0px 10px 10px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.title_price_container .title {
    color: #000;
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Tenor Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 4px;
    text-transform: uppercase;
}

.title_price_container .item_description {
    color: var(--gray-scale-label, #555);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Tenor Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
}

.section7_product_titlen_variants .item_price {
    color: var(--primary-default, #DD8560);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Tenor Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
}


.section8_add_to_cart_button {
    display: flex;
    width: 100%;
    height: 46px;
    padding: 10px 0px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: #000;
    cursor: pointer;
}

.add_to_cart_button {
    display: inline-flex;
    padding: 6px 0px;
    justify-content: center;
    align-items: center;
    gap: 5px;
    color: white;
    font-family: Tenor Sans;
}



.suggestion {
    color: #000;
    font-feature-settings: 'clig' off, 'liga' off;

    /* Title */
    font-family: Tenor Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    /* 222.222% */
    letter-spacing: 4px;
    text-transform: uppercase;
}

.section9_item_description{
    padding: 10px 10px;
    font-family: Tenor Sans;
}